alacritty-bak
browsh
bottom
cava
pulse
procps
balenaEtcher
kanata
lazygit
xfce4
user-dirs.dirs
user-dirs.locale
mpv
Code Industry
'Code - OSS'
fcitx
fcitx5
fish
Code - OSS
vlc
zed
ulauncher
typeracer
systemd
pavucontrol.ini
obs-studio
mimeapps.list
GIMP
Mousepad
QtProject.conf
Thunar
libreoffice
ibus
ristretto
xarchiver
DisplayCAL
gtk-2.0
gtk-3.0
textualize
dconf
gh
go
nativevim
VSCodium/Cache
VSCodium/CachedData
VSCodium/CachedExtensionVSIXs
VSCodium/Code Cache
VSCodium/User/History
VSCodium
nvim
micro
Electron
